table > tbody > td{
    width: 180px;
    height: 80px;
}
.player0 {
    background-color: white;
}
.player1 {
    background-color: #AF81C9;
}
.player2 {
    background-color: #F89A7E;
}
.player3 {
    background-color: #F2CA85;
}
.player4 {
    background-color: #54D1F1;
}
.player5 {
    background-color: #445569;
}
.territoryMoveSpy {
    background-color: #C0C0C0;
}
.territoryHover {
    background-color: #FFFFE0;
}
.territoryClick {
    background-color: #3366BB;
}
.territoryAttack {
    background-color: #af111c;
    opacity: .5;
}
.territoryMoveTroops {
    background-color: #4D5D53;
    opacity: .5;
}
.attackComponent {
    position: absolute;
}
.centerAlign {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.playerInfoTable tbody tr td {
    padding: 0 20px 0 20px;
}
.nav > li {
    padding-top: 20px;
    padding-right: 10px;
}
.loginSignupForm > div > div > input {
    display: block;
}
.inputError {
    color: #b94a48 !important;
    background-color: #f2dede !important;
    border-color: #b94a48 !important;
}
#firechat-wrapper {
  height: 475px;
  max-width: 325px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin: 50px auto;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 25px #666;
  -moz-box-shadow: 0 5px 25px #666;
  box-shadow: 0 5px 25px #666;
}