table > tbody > td{
    width: 10px;
    height: 80px;
}
.player0 {
    background-color: white;
}
.player1 {
    background-color: #AF81C9;
}
.player2 {
    background-color: #F89A7E;
}
.player3 {
    background-color: #F2CA85;
}
.player4 {
    background-color: #54D1F1;
}
.player5 {
    background-color: #445569;
}
.territoryHover {
    background-color: #FFFFE0;
}