@(title: String)(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>Risc</title>
        <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")' />
        <link rel="stylesheet" href='@routes.Assets.at("stylesheets/shame.css")' />
        <link rel="stylesheet" href='@routes.Assets.at("stylesheets/libraries/bootstrap.css")' />
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                    <h5 style="text-align: center; color: white">Risc</h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="modal" data-bind="visible: displayModal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Play Risc!</h4>
                  </div>
                  <div class="modal-body">
                    <div data-bind="visible: displayGameStart" class="form-inline">
                        <input type="text" data-bind="value: playerName" placeholder="Player Name"></input>
                        <button data-bind="click: enterGame">Play</button>
                    </div>
                    <div data-bind="visible: displayGameWaitingRoom">
                        <div data-bind="foreach: playerList">
                            <label type="text" data-bind="text: $data"></label>
                        </div>
                        <button data-bind="click: startGame">I'm ready</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div data-bind="visible: displayMap">
                <div class="row-fluid">
                    <table class="table table-bordered" id="map">
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type='text/javascript' src='@routes.Assets.at("javascript/libraries/knockout.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascript/libraries/bootstrap.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascript/index.js")'></script>
    </body>
</html>