@(title: String)(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>Risc</title>
        <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")' />
        <link rel="stylesheet" href='@routes.Assets.at("stylesheets/shame.css")' />
        <link rel="stylesheet" href='@routes.Assets.at("stylesheets/libraries/bootstrap.css")' />
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <div class="brand">
                        <h3 style="text-align: center; color: white">Risc</h3>
                    </div>
                    <ul class="nav pull-right">
                        <li>
                            <button>Instructions</button>
                        </li>
                        <li>
                            <div data-bind="visible: displayMap">
                                <button data-bind="click: submitTurnClick" class="submitTurnButton">Submit Turn</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="modal" data-bind="visible: displayModal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Play Risc!</h4>
                  </div>
                  <div class="modal-body">
                    <div data-bind="visible: displayGameStart" class="form-inline">
                        <input type="text" data-bind="value: playerName" placeholder="Player Name"></input>
                        <button data-bind="click: enterGame">Play</button>
                    </div>
                    <div data-bind="visible: displayGameWaitingRoom">
                        <h3>Players in the game are:</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <td><strong>Player Name</strong></td>
                                    <td><strong>Is Ready?</strong></td>
                            </thead>
                            <tbody data-bind="foreach: playerList">
                                <tr>
                                    <td>
                                        <span data-bind="text: ($index() + 1)"></span>:
                                        <span data-bind="text: name"></span>
                                    </td>
                                    <td data-bind="text: ready"></td>
                                </tr>
                            </tbody>
                        </table>
                        <button data-bind="click: startGame">I'm ready</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div data-bind="visible: displayMap">
                <div class="row-fluid">
                    <table class="table table-bordered">
                        <tbody id="map">
                            <!-- The table cells are created with JavaScript in the index.js file -->
                        </tbody>
                    </table>
                </div>
                <div class="row-fluid">
                    <div class = "well well-sm">
                        <table class="playerInfoTable">
                            <thead>
                                <tr>
                                    <th>Player</th>
                                    <th>Color</th>
                                    <th>Additional Troops</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: playerList">
                                <tr>
                                    <td>
                                        <span data-bind="text: ($index() + 1)"></span>: <span data-bind="text: name"></span>
                                    </td>
                                    <td data-bind="text: color"></td>
                                    <td data-bind="text: additionalTroops"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type='text/javascript' src='@routes.Assets.at("javascript/libraries/knockout.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascript/libraries/bootstrap.js")'></script>
                <script type='text/javascript' src='@routes.Assets.at("javascript/turn.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascript/board.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascript/initialization.js")'></script>
    </body>
</html>